@model IEnumerable<EVA3AJAX.Models.AsignacionHerramienta>
@{
    ViewData["Title"] = "Módulo de Asignaciones";
}
<h1 class="text-primary">Módulo de Asignaciones</h1>
<p>
    <a asp-action="Create" class="btn btn-info mb-3">Nueva Asignación</a>

    @if (TempData["SuccessMessage"] != null)
    {
        <div id="successMessage" class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>

        <script>
            setTimeout(function() {
                var msg = document.getElementById('successMessage');
                if (msg) {
                    msg.style.display = 'none';
                }
            }, 5000);
        </script>
    }
</p>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>Unidad Herramienta</th>
                <th>ID del Usuario</th>
                <th>Fecha de Asignación</th>
                <th style="text-align: center;">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.UnidadHerramientaId)</td>
                    <td>@Html.DisplayFor(modelItem => item.UsuarioId)</td>
                    <td>@Html.DisplayFor(modelItem => item.FechaAsignacion)</td>
                    <td style="text-align: center;">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detalles</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

