@model IEnumerable<EVA3AJAX.Models.AsignacionHerramienta>
@{
    ViewData["Title"] = "Módulo de Asignaciones";
}
<h1>Módulo de Asignaciones</h1>
<p>
    <a asp-action="Create" class="btn btn-primary">Nueva Asignación</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Unidad Herramienta</th>
            <th>ID del Usuario</th>
            <th>Fecha de Asignación</th>
            <th style="text-align: center;">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.UnidadHerramientaId)</td>
                <td>@Html.DisplayFor(modelItem => item.UsuarioId)</td>
                <td>@Html.DisplayFor(modelItem => item.FechaAsignacion)</td>
                <td style="text-align: center;">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
