@model IEnumerable<EVA3AJAX.Models.Herramienta>
@{
    ViewData["Title"] = "Módulo de Herramientas";
}

<h1 class="text-primary">Módulo de Herramientas</h1>
<p>
    <a asp-action="Create" class="btn btn-info mb-3">Crear Nueva Herramienta</a>
</p>

<form method="get">
    <div class="input-group mb-3">
        <input type="text" name="searchString" class="form-control" placeholder="Buscar por modelo..." value="@ViewData["CurrentFilter"]" />
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Buscar</button>
        </div>
    </div>
</form>

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>Modelo</th>
                <th>ID de la Marca</th>
                <th>Cantidad Total</th>
                <th>Disponibles</th>
                <th style="text-align: center;">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Modelo)</td>
                    <td>@Html.DisplayFor(modelItem => item.IdMarca)</td>
                    <td>@Html.DisplayFor(modelItem => item.CantidadTotal)</td>
                    <td>@Html.DisplayFor(modelItem => item.Disponibles)</td>
                    <td style="text-align: center;">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detalles</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

